




/* Header */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5%;
  }
  
  nav a {
    color: white;
    font-family: "Anton", sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px #333b50;
    text-decoration: underline;
  }
  
  /* Random */
  h1 {
    font-family: "Anton", sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #333b50;
    margin: 0 0 0 0;
    letter-spacing: 15.6px;
  }
  h2 {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #333b50;
    letter-spacing: 2px;
    margin-top: 1%;
  }
 
  /* Home page */
  
  .homebody {
    background: #333b50;
    background-image:url(snow.jpg);
    background-position-x: center;
    background-position-y: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name-title{
margin-top: 10%;
  }
  
  /* About page */
  
  
  .aboutbody {
    background: #333b50;
    background-image: url(Laptop.jpg);
    background-position-x: center;
    background-position-y: 0;
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picandtext {
    display: flex;
    width: 600px;
    height: 500px;
    gap: 5px;
    margin-top: .5%;
  }
  .pic {
    width: 400px;
    height: auto;
    background: url(CV.Pic.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 0;
    border-radius: 15px;
  }
  .aboutme{
    font-size: 60px;
    margin-top: .5%;
  }
  
  .textdiv {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
  }
  
  .aboutmetext {
    text-shadow: 1px 5px 5px #333b50;
    font-size: 20px;
    letter-spacing: normal;
  }
  .aboutmeheader {
    text-shadow: 1px 5px 5px #333b50;
    font-size: 35px;
    letter-spacing: normal;
  }
  
  /* Projects page */


  .projectbody {
    background: url(mountain.jpg);
    background-position-x: center;
    background-position-y: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .projectbody h1{
    font-size: 60px;
    margin-top: 2.5%;
  }
  
  .projectsdiv {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: auto;
    gap: 50px;
    margin-top: 2%;
  }
  .projectboxframe {
    display: flex;
    width: 300px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
  }
  
  
  .projectimg {
    height: 300px;
    width: 100%;
    border-radius: 15px;
  }
  
  .nameyear {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
  }
  
  .nameyeartext {
    text-decoration: none;
    color: white;
    font-family: "Anton", sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px #333b50;
  }
  .loginbutton {
  font-family: "Anton", sans-serif;
  font-size: 17px; /* Adjust the font size as needed */
  background-color: #075c90; /* Background color of the button */
  color: white; /* Text color of the button */
  padding: 10px 20px; /* Add padding to the button */
  border: none; /* Remove the button border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change the cursor to a pointer on hover */
}
.modifydeletediv {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
}
.modifydeletetext {
  font-family: "Anton", sans-serif;
  font-size: 17px; /* Adjust the font size as needed */
  background-color: none; /* Background color of the button */
  background: none;
  color: white; /* Text color of the button */
  border: none; /* Remove the button border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  text-shadow: 2px 2px 4px #333b50;
}

/* Style the submit button on hover */
.loginbutton:hover {
  background-color: #555; /* Change the background color on hover */
}

/* PREVIEW PAGE */

.previewpicandtext{
  display: flex;
  width: 900px;
  height: auto;
  margin-top: 2%;
  gap: 4%;
  }
  .previewpic{
    height: 450px;
    width: 48%;
    border-radius: 15px;
  }
  .previewtextdiv{
    height: 450px;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .previewtextdiv h2{
    font-size: 23px;
  }
  .backtoproject{
    margin-top: 1.5%;
  }
 
  
  /* Contact page */
  
  
  .contactbody {
    background-color: #333b50;
    background: url(desk.jpg);
    background-position-x: 50%;
    background-position-y: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactbody h1{
    font-size: 70px;
    margin-top: 5.5%;
  }
  .phone,
  .email {
    width: 339px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton";
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px #333b50;
    color: white;
    gap: 20px;
  }
  .fblnkdin {
    width: 339px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton";
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px #333b50;
    color: white;
    gap: 20px;
    margin-top: 1%;
  }
  .mail {
    color: white;
    text-decoration: underline;
  }
  nav a:hover,
  .textdiv a:hover,
  .mail:hover {
    color: #049fbe;
    transition: color 0.4s;
  }


  
  
  /* Media query for IPAD */
  
  
  
  @media (max-width: 1080px) {
    nav a {
      font-size: 40px;
    }
  
    h1 {
      font-size: 80px;
      letter-spacing: 15.6px;
    }
    h2 {
      font-size: 30px;
    }
    .name-title{
      margin-top: 17%;
        }
    .picandtext {
      flex-direction: column;
      width: fit-content;
      height: auto;
      margin-top: 4%;
    }
    .pic {
      width: 250px;
      height: 350px;
    }
    .textdiv {
      width: 250px;
      height: 400px;
    }
    .aboutmetext {
      text-shadow: 1px 5px 5px #333b50;
      font-size: 17px;
    }
    .contactbody h1{
      font-size: 65px;
      margin-top: 10%;
    }
    .projectbody h1{
      font-size: 50px;
      margin-top: 2.5%;
    }
    .projectsdiv {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: auto;
      height: auto;
      gap: 15px;
      margin-top: 4%;
    }
    .projectboxframe {
      display: flex;
      width: 200px;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1%;
    }
    .projectimg {
      height: 250px;
      width: 200px;
      
    }
    .previewpicandtext{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400;
      height: auto;
      }
      .previewpic{
        height: 350px;
        width: 300px;
      }
      .previewtextdiv{
        height: 425px;
        width: 400px;
      }
  }
  
  
  /* Media query for PHONE*/
  
  
  @media (max-width: 500px) {
    nav a {
      font-size: 26px;
    }
    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 20px;
    }
    .name-title{
      margin-top: 25%;
        }
        .aboutme{
          font-size: 35px;
        }
        .contactbody h1{
          font-size: 55px;
          margin-top: 28%;
        }
        .projectbody h1{
          font-size: 35px;
          margin-top: 2.5%;
        }
        .previewpicandtext{
          width: auto;
          height: auto;
          }
          .previewpic{
            height: 250px;
            width: 230px;
          }
          .previewtextdiv{
            height: 400px;
            width: 300px;
            align-items:baseline;

          }
  }
  