/* Assets */

*{
    margin: 0;
    padding: 0;
}
/* Add this CSS to your existing CSS code */
.scroll-to-top-button {
    display: none; /* Initially hide the button */
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Ensure the button appears above other content */
    font-size: 60px;
  }
  
/* Home */
.home{
    background: #191919 ;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.homenavdiv{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}
.homenavdiv a{
    transition: color 0.4s;
}
.homenavdiv a:hover{
    color: grey;
}

.home h1, a{
    color: #fff;
    text-decoration: none;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-style: italic;
}
.home a{
    margin-left: 50px;
    font-size: 21px;
}
.home h1{
    padding-left: 15%;
    padding-right: 32%;
    letter-spacing: 4px;
    font-size: 42px;
}

.pictextdiv{
    display: flex;
    height: 90%;
    width: 100%;
}
.pic {
    height: 100%;
    width: 75%;
    background: url(desk1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Add this property to enable the parallax effect */
}
.text{
    padding-left: 30%;
    padding-top: 22%;
}
.pic h2{
    color: #fff;
    font-family: 'Futura Light', sans-serif;
    font-size: 30px;
    font-weight:100;
    letter-spacing: 4px;
}
.pic h3{
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 60px;
    font-weight:bold;
    letter-spacing: 4px;
    padding-bottom: 10px;
}
.pic h4{
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 21px;
    font-style:italic;
    font-weight:100;
    letter-spacing: 4px;
}

.info{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pic2{
    margin-top: 30%;
    background: url(L.jpg);
    background-size: cover;
    background-position: center;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 4px solid #fff; /* Add a border for cleaner edges */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for a cleaner look */
}
.home .text2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    text-align: center;
}
.home .text2 h5{
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 32px;
    font-weight:bold;
}
.home .text2 h6{
    padding-top: 10%;
    color: #fff;
    font-family: 'Futura Light', sans-serif;
    font-size: 16px;
    font-weight:lighter;
    letter-spacing: 2px;
    line-height:2;
}
.socials{
    margin-top: 80px;
    text-align: center;
}
.socials h7{
    color: #fff;
    font-family: 'Futura Light', sans-serif;
    font-size: 16px;
    font-weight:bold;
    letter-spacing: 2px;
}
.socials nav{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.socials a{
    margin: 0;
    text-decoration: none;
    font-size: 16px;
}

  .socials button {
    font-family: 'Futura Light', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 20px;
    background-color: white; /* Button background color */
    color: #191919; /* Button text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  .socials button:hover {
    background-color: gray; /* Hover color */
    color: white;
  }



/* About */
.about{
    height: 300px;
    width: 100%;
}
.about div{
    padding-top: 2.5%;
    padding-left: 15%;
}
.about h1{
    color: 191919;
    font-family: 'Playfair Display', sans-serif;
    font-size: 32px;
    font-weight: lighter;
}
.about h2{
    color: #191919;
    font-family: 'Futura Light', sans-serif;
    font-size: 16px;
    font-weight:lighter;
    letter-spacing: 4px;
    padding-top: 5px;
}
.about h3{  
    margin-top: 55px;
    color: #191919;
    font-family: 'Futura Light', sans-serif;
    font-size: 21px;
    font-weight:lighter;
    letter-spacing: 4px;
}

/* Education-Experience */
.education-experience{
    background: #191919 ;
    height: 450px;
    width: 100%;
    display: flex;
}
.education-experience .text1, .education-experience .text2{
    padding-top: 5%;
    padding-left: 15%;
}
.education-experience h1{
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 32px;
    font-weight: lighter;
}
.education-experience h2{
    color: #fff;
    font-family: 'Futura Light', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 4px;
    padding-top: 5px;
}
.education-experience h3{
    color: #fff;
    font-family: 'Futura', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 50px;
}

/* Skills-Languages */
.skills-languages{
    height: 700px;
    width: 100%;
}
.skills-languages .div1{
    padding-top: 5%;
    padding-left: 15%;
}
.skills-languages h1{
    color: #191919;
    font-family: 'Playfair Display', sans-serif;
    font-size: 32px;
    font-weight: lighter;
}
.skills-languages h2{
    color: #191919;
    font-family: 'Futura Light', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 4px;
    padding-top: 5px;
}
/* Add this CSS to your existing CSS code */
.skills-languages .div2 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  
  .skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .skill h3 {
    width: 25%;
    color: #191919;
    font-family: 'Futura Light', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 4px;
  }
  
  .progress {
    width: 50%;
    background-color: #ccc;
    height: 5px;
  }
  
  .progress-bar {
    background-color: #191919; /* Adjust the color as needed */
    height: 100%;
    border-radius: 5px;
    width: 0;
  }

/* Portfolio */
.portfolio{
    background: #191919 ;
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.portfolio .textdiv{
    padding-left: 15%;
    padding-top: 2.5%;
}
.portfolio h1{
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 2.5%;
}
.portfolio h2{
    width: 35%;
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 1%;
}
.portfolio .div1{
    padding-top: 2.5%;
    display: flex;
    height: 100%;
    width: 100%;
}
.portfolio .div2{
    display: flex;
    height: 90%;
    width: 100%;
}
.p1, .p2{
    padding-left: 15%;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio p{
    height: auto;
    width: auto;
    text-decoration: none;
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 1%;
    text-align: center;
    transition: color 0.4s;
}

.p1 div{
    height: 95%;
    width: 100%;
    background: url(PortfolioFigmaPic.jpg);
    background-size: cover;
    background-position: center;
}
.p2 div{
    height: 95%;
    width: 100%;
    background: url(database\ pic.jpg);
    background-size: cover;
    background-position: center;
}



/* Contact */
.contact{
    height: 300px;
    width: 100%;
}

.a{
    height: 85%;
    width: 100%;
    display: flex;
}
.a .div1{
    padding-top: 2.5%;
    padding-left: 15%;
}
.a .div3{
    padding-top: 2.5%;
}
.div3 a{
    text-decoration: none;
    font-size: 25px;
    padding-right: 5%;
}

.a h1{
    color: #191919;
    font-family: 'Playfair Display', sans-serif;
    font-size: 32px;
    font-weight: lighter;
}
.b{
    display: flex;
    align-items: center;
    background: #191919;
    height: 15%;
    width: 100%;
}
.b h3{
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    padding-left: 15%;
}
.contact button {
    font-family: 'Futura Light', sans-serif;
    font-weight: lighter;
    font-size: 13px;
    background-color: #191919; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px;
    margin-top: 5%;
    border: none;
    cursor: pointer;
    transition: background-color 0.7s;
  }
  .contact button:hover {
    background-color: grey; /* Hover color */
  }