<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects page</title>
    <link rel="stylesheet" href="/ProfileWebsite/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body class="projectbody">
    <header>
        <nav>
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="projects.html">Projects</a>
          <a href="contact.html">Contact</a>
        </nav>
    </header>
    
    <h1>My Projects</h1>
  
   <div class="projectsdiv">
      
  
          <div class="projectboxframe">
  
            <div class="modifydeletediv">
  
              <form action="/ProfileWebsite/views/Projects/portfolio.html" method="get">
                  <input type="submit" value="Preview" class="loginbutton" class="modifydeletetext">
              </form>  
            
  
            </div>
            <img src="/ProfileWebsite/img/UserInterfaceDiagram.jpg" class="projectimg"/>
            <div class="nameyear"><p class="nameyeartext">Portfolio Website - (2023)</p></div>
  
          </div>

          <div class="projectboxframe">
  
            <div class="modifydeletediv">
  
              <form action="/ProfileWebsite/views/Projects/database.html" method="get">
                  <input type="submit" value="Preview" class="loginbutton" class="modifydeletetext">
              </form>  
            
  
            </div>
            <img src="/ProfileWebsite/img/database pic.jpg" class="projectimg"/>
            <div class="nameyear"><p class="nameyeartext">Shoe Brand Database - (2022)</p></div>
  
          </div>
     
     
     </div>
   
    </body>
  
</html>