<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/ProfileWebsite/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body class="projectbody">

    <h1>Portfolio Website - (2023)</h1> 

    <form action="/ProfileWebsite/views/projects.html" method="get" class="backtoproject">
        <input type="submit" value="Back to Projects" class="loginbutton" class="modifydeletetext">
    </form>  

<div class="previewpicandtext">
    <img src="/ProfileWebsite/img/UserInterfaceDiagram.jpg" alt="{{project.pimgURL}}" class="previewpic"/>
    <div class="previewtextdiv">
        <h2>The portfolio website project is a dynamic online showcase of professional accomplishments and skills. It acts as a visual resume, serving personal branding and networking purposes. It reflects professional growth, allowing updates over time. Ultimately, it empowers individuals to navigate the competitive working world confidently.
        </h2>
    </div>
</div>
    
</body>
</html>